{% extends "base.html" %}
{% block title %}
    MyTrip - Corporate
{% endblock %}
{% block content %}
    <div class="flex-column justify-center corporate-page-top triangles"></div>
    <div class="full-w flex-column">
        <div class="flex-column justify-center section-title_container service-page-title w-900">
            <h2 class="title dark text-center">Corporate</h2>
            <span style="white-space:pre-wrap;" class="full-w light-text ">{{ content.texto_corporate|safe }}</span>
        </div>
    </div>
    
    <div class="flex-column full-w">
        <a href="http://www.solid.com.br/" target="_blank" class="button corporate-button">Acesse o site</a>
        <h2 class="dark text-center">PRECISA DE CONSULTORIA PARA VIAGENS DA SUA EMPRESA?</h2>    
        <form method="POST" class="service-page-content flex-column start contact-form w-900">
            {% csrf_token %}
            <div class="flex half-form_container full-w">
                <input required type="text" placeholder="Nome" name="name" class="half-form">
                <input required type="text" placeholder="Telefone" name="phone" class="half-form telephone-number">
            </div>
            <input required type="email" placeholder="email" name="email">
            <textarea name="message" placeholder="Mensagem" id="" cols="30" rows="5"></textarea>
            <button type="submit" class="button">Enviar</button>
            {% if form.errors %}
                {% for error, value in form.errors.items %}
                    <span style="color:red;" class="light-text margin-b"><span style="text-transform:capitalize;">{{ error }}</span>: {{ value.as_text }}</span><br>
                {% endfor %}
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <span class="dark-label margin-b">{{ message }}</span>
                {% endfor %}
            {% endif %}
        </form>
    </div>
{% endblock %}