{% extends "base.html" %}
{% block title %}
    MyTrip - Corporate
{% endblock %}
{% block content %}
    <div class="flex-column justify-center corporate-page-top triangles"></div>
    <div id="contact" class="contact-container flex start full-w">
        <div class="contact-info flex-column start">
            <h2 class="dark text-center" style="text-transform:uppercase;margin-top:0;">Corporate</h2>
            <span class="light-text margin-b">{{ content.texto_corporate }}</span>
        </div>
        <div class="contact-form">
            <div class="flex half-form_container">
                <input type="text" placeholder="Nome" name="name" class="half-form">
                <input type="text" placeholder="Telefone" name="phone" class="half-form">
            </div>
            <input type="text" placeholder="email" name="Email">
            <textarea name="message" placeholder="Mensagem" id="" cols="30" rows="5"></textarea>
            <button class="button">Enviar</button>
        </div>
    </div>
{% endblock %}