{% extends "base.html" %}
{% block title %}
    MyTrip - {{ service.name }}
{% endblock %}
{% block content %}
    {% load static %}
    {% get_media_prefix as media_prefix %}
    <div 
        class="flex-column justify-center service-page-top triangles"
        style="background-image:url({{ media_prefix }}{{ service.photo }});background-position:{{service.photo_position}};">    
    </div>
    <div class="full-w flex-column">
        <div class="flex-column justify-center section-title_container service-page-title w-900">
            <h2 class="title dark text-center">{{ service.name }}</h2>
            <span style="white-space:pre-wrap;" class="full-w light-text ">{{ service.description|safe }}</span>
        </div>
    </div>
    <div class="full-w flex-column pad faq-cta">
    {% if faq %}
        <a href="#faq" class="button">PERGUNTAS FREQUENTES</a>
    {% endif %}
    </div>
    {% if service.form %}
        {% with service.form|stringformat:"i" as template_number %}
        {% with "forms/"|add:template_number|add:".html" as template %}
            {% include template %}
        {% endwith %}
        {% endwith %}
    {% endif %}
    {% if faq %}
    <div id="faq" class="flex-column full-w">
        <h2 class="dark text-center">PERGUNTAS FREQUENTES</h2>
        <div class="flex-column start faq-container w-900">
            {% for f in faq %}
                <span class="dark-label">{{ f.question }}</span>
                <span class="light-text">{{ f.answer }}</span>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <br>
    <br>
    <br>
{% endblock %}
