<div class="full-w flex-column">
    <h2 class="dark text-center">FORMULÁRIO PARA SUA VIAGEM SURPRESA</h2>    
    <form method="POST" class="service-page-content flex-column start contact-form w-900">
        {% csrf_token %}
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="name" class="dark-text">Nome</label>
                <input required type="text" {% if form %} value="{{ form.name }}" {% endif %} placeholder="Nome" name="name">
            </div>
            <div class="flex-column start half-w">
                <label for="phone" class="dark-text">Telefone</label>
                <input required type="text" {% if form %} value="{{ form.phone }}" {% endif %} placeholder="Telefone" name="phone" class="telephone-number">
            </div>
        </div>
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="email" class="dark-text">Email</label>
                <input required type="email" {% if form %} value="{{ form.email }}" {% endif %} placeholder="Email" name="email">
            </div>
            <div class="flex-column start half-w">
                <label for="passengers" class="dark-text">Numero de Passageiros</label>
                <input type="number" {% if form %} value="{{ form.passengers }}" {% endif %} name="passengers">
            </div>
        </div>
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="startdate" class="dark-text">Data de início</label>
                <input type="text" {% if form %} value="{{ form.startdate }}" {% endif %} name="startdate" class="date-input">
            </div>
            <div class="flex-column start half-w">
                <label for="enddate" class="dark-text">Data de volta</label>
                <input type="text" {% if form %} value="{{ form.enddate }}" {% endif %} name="enddate" class="date-input">
            </div>
        </div>
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="startrange" class="dark-text">Flexibilidade ida (dias)</label>
                <input type="number" {% if form %} value="{{ form.startrange }}" {% endif %} name="startrange">
            </div>
            <div class="flex-column start half-w">
                <label for="endrange" class="dark-text">Flexibilidade volta (dias)</label>
                <input type="number" {% if form %} value="{{ form.endrange }}" {% endif %} name="endrange">
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="lastdestinations" class="dark-text">Quais foram os últimos 3-5 destinos que você viajou recentemente?</label>
            <label for="lastdestinations" class="light-text">Não queremos te enviar para um destino que você foi recentemente.</label>
            <textarea name="lastdestinations" id="" cols="30" rows="2">{% if form %} {{ form.lastdestinations }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="plannedtrips" class="dark-text">Alguma viagem planejada em breve?</label>
            <label for="plannedtrips" class="light-text">Não queremos te enviar para o mesmo destino</label>
            <textarea name="plannedtrips" id="" cols="30" rows="2">{% if form %} {{ form.plannedtrips }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="preferences" class="dark-text">Quando você viaja, você prefere:</label>
            <div class="flex wrap">
                <label class="flex light-text radio-label" for="preferences"><input checked type="radio" name="preferences" value="cultura">Cultura</label>
                <label class="flex light-text radio-label" for="preferences"><input type="radio" name="preferences" value="ação">Ação</label>
                <label class="flex light-text radio-label" for="preferences"><input type="radio" name="preferences" value="relaxar">Relaxar</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="insterests" class="dark-text">Quais seus interesses em uma viagem?</label>
            <div class="flex wrap">
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="culinaria">Culinária</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="esportes">Esportes radicais</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="mercados">Mercados</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="cervejas">Cervejas artesanais</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="vinhedos">Vinhedos</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="bares">Bares</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="clubs">Clubs</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="teatros">Teatros</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="espetáculos">Espetáculos</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="arte">Arte</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="museu">Museus</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="lugares">Lugares históricos</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="pontos turísticos">Pontos turísticos</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="fitness">Fitness</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="exercícios">Exercícios</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="atividades ao ar livre">Atividades ao ar livre</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="cidades grandes">Cidades grandes</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="vilarejos">Vilarejos</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="compras">Compras</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="spas">Spas</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="natureza">Natureza</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="parques naturais">Parques naturais</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="esportes outdoor">Esportes outdoor</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="viagens de carro">Viagens de carro</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="lgbt">LGBT</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="atividades para famílias">Atividades para famílias (crianças)</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="praia">Praia</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="campo">Campo</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="neve">Neve</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="montanha">Montanha</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="floresta">Floresta</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="resorts">Resorts</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="safaris">Safaris</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="parques de diversão">Parques de diversão</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="passeios e experiências locais">Passeios e experências locais</label>
                <label class="flex light-text radio-label" for="insterests"><input type="checkbox" name="insterests" value="experências diferentes">Experiências diferentes</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="foodrestrictions" class="dark-text">Você tem alguma restrição de alimentação?</label>
            <label for="foodrestrictions" class="light-text">Teremos o cuidado de adicionar opções que atendam sua necessidade</label>
            <textarea name="foodrestrictions" id="" cols="30" rows="2">{% if form %} {{ form.foodrestrictions }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="accommodation" class="dark-text">Qual tipo de acomodação você prefere?</label>
            <div class="flex wrap">
                <label class="flex light-text radio-label" for="accommodation"><input checked type="radio" name="accommodation" value="hotel">Hotel</label>
                <label class="flex light-text radio-label" for="accommodation"><input type="radio" name="accommodation" value="pousada">Pousada</label>
                <label class="flex light-text radio-label" for="accommodation"><input type="radio" name="accommodation" value="hostel">Hostel / Albergue</label>
                <label class="flex light-text radio-label" for="accommodation"><input type="radio" name="accommodation" value="resorts">Resorts</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="notes" class="dark-text">
                Tem alguma coisa mais que precisamos saber?
            </label>
            <label for="notes" class="light-text">
                Tem alguma limitação fisica? Tem algum destino que vai sempre à trabalho? Se está viajando com crianças, nos de algumas informações do que elas gostam e o que fazem normalmente juntos?
            </label>
            <textarea name="notes" id="" cols="30" rows="5">{% if form %} {{ form.notes }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="whereto" class="dark-text">Prefere viajar para:</label>
            <div class="flex">
                <label class="flex light-text radio-label" for="whereto"><input type="radio" name="whereto" value="brasil">Brasil</label>
                <label class="flex light-text radio-label" for="whereto"><input type="radio" name="whereto" value="exterior">Exterior</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="budget" class="dark-text">Quanto pretende gastar?</label>
            <label for="budget" class="light-text">Faixa de valor por pessoa.</label>
            <div class="flex-column start">
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="3 a 4 mil">R$ 3.000 a R$ 4.000 - Apenas destinos nacionais.</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="4 a 6 mil">R$ 4.000 a R$ 6.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="6 a 8 mil">R$ 6.000 a R$ 8.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="8 a 10 mil">R$ 8.000 a R$ 10.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="10 a 12 mil">R$ 10.000 a R$ 12.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="12 a 15 mil">R$ 12.000 a R$ 15.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="15 a 20 mil">R$ 15.000 a R$ 20.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="20 a 25 mil">R$ 20.000 a R$ 25.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="25 a 30 mil">R$ 25.000 a R$ 30.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="30 a 40 mil">R$ 30.000 a R$ 40.000</label>
                <label class="flex light-text radio-label" for="budget"><input type="checkbox" name="budget" value="40 a 50 mil">R$ 40.000 a R$ 50.000</label>
            </div>
        </div>
        <button class="button">Enviar</button>
        {% if form.errors %}
            {% for error, value in form.errors.items %}
                <span style="color:red;" class="light-text margin-b"><span style="text-transform:capitalize;">{{ error }}</span>: {{ value.as_text }}</span><br>
            {% endfor %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <span class="dark-label margin-b">{{ message }}</span>
            {% endfor %}
        {% endif %}
    </form>
</div>