<div class="full-w flex-column">
    <h2 class="dark text-center">FORMULÁRIO PARA VIAJAR DO SEU JEITO</h2>    
    <form method="POST" class="service-page-content flex-column start contact-form w-900">
        {% csrf_token %}
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="name" class="dark-text">Nome</label>
                <input required type="text" {% if form %} value="{{ form.name }}" {% endif %} placeholder="Nome" name="name">
            </div>
            <div class="flex-column start half-w">
                <label for="phone" class="dark-text">Telefone</label>
                <input required type="text" {% if form %} value="{{ form.phone }}" {% endif %} placeholder="Telefone" name="phone" class="telephone-number">
            </div>
        </div>
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="email" class="dark-text">Email</label>
                <input required type="email" {% if form %} value="{{ form.email }}" {% endif %} placeholder="Email" name="email">
            </div>
            <div class="flex-column start half-w">
                <label for="passengers" class="dark-text">Numero de Passageiros</label>
                <input type="number" {% if form %} value="{{ form.passengers }}" {% endif %} name="passengers">
            </div>
        </div>
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="origin" class="dark-text">Origem</label>
                <input type="text" {% if form %} value="{{ form.origin }}" {% endif %} name="origin">
            </div>
            <div class="flex-column start half-w">
                <label for="destination" class="dark-text">Destinos</label>
                <input type="text" {% if form %} value="{{ form.destination }}" {% endif %} name="destination">
            </div>
        </div>
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="startdate" class="dark-text">Data de início</label>
                <input type="text" {% if form %} value="{{ form.startdate }}" {% endif %} name="startdate" class="date-input">
            </div>
            <div class="flex-column start half-w">
                <label for="enddate" class="dark-text">Data de volta</label>
                <input type="text" {% if form %} value="{{ form.enddate }}" {% endif %} name="enddate" class="date-input">
            </div>
        </div>
        <div class="flex half-form_container full-w">
            <div class="flex-column start half-w">
                <label for="startrange" class="dark-text">Flexibilidade ida (dias)</label>
                <input type="number" {% if form %} value="{{ form.startrange }}" {% endif %} name="startrange">
            </div>
            <div class="flex-column start half-w">
                <label for="endrange" class="dark-text">Flexibilidade volta (dias)</label>
                <input type="number" {% if form %} value="{{ form.endrange }}" {% endif %} name="endrange">
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="notes" class="dark-text">Observações:</label>
            <textarea name="notes" cols="30" rows="2">{% if form %} {{ form.notes }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="ticket" class="dark-text">Tipo de passagem:</label>
            <div class="flex wrap">
                <label class="flex light-text radio-label" for="ticket"><input checked type="radio" name="ticket" value="econômica">Econômica</label>
                <label class="flex light-text radio-label" for="ticket"><input type="radio" name="ticket" value="executiva">Executiva</label>
                <label class="flex light-text radio-label" for="ticket"><input type="radio" name="ticket" value="primeira classe">Primeira classe</label>
                <label class="flex light-text radio-label" for="ticket"><input type="radio" name="ticket" value="fretamento de aeronave">Fretamento de aeronave</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="hotel" class="dark-text">Tipo de hotel:</label>
            <div class="flex wrap">
                <label class="flex light-text radio-label" for="hotel"><input checked type="radio" name="hotel" value="3 estrelas">3 estrelas</label>
                <label class="flex light-text radio-label" for="hotel"><input type="radio" name="hotel" value="4 estrelas">4 estrelas</label>
                <label class="flex light-text radio-label" for="hotel"><input type="radio" name="hotel" value="5 estrelas">5 estrelas</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="experience" class="dark-text">Tipo de experiência:</label>
            <div class="flex-column start">
                <label class="flex light-text radio-label" for="experience"><input type="radio" name="experience" value="serviços de viagem">Serviços de viagem - Já sabe onde quer ir e precisa apenas de serviços de viagens no destino de sua escolha?</label>
                <div class="flex-column start full-w pad">
                    <label for="experiencedetail" class="dark-text">Caso tenha escolhido serviço de viagem:</label>
                    <div class="flex wrap">
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="passagem">Passagem</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="hotel">Hotel</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="transfer">Transfer</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="ingresso">Ingresso</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="seguro de viagem">Seguro de viagem</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="aluguel de carro">Aluguel de carro</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="tours">Tours</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="trem">Trem</label>
                        <label class="flex light-text radio-label" for="experiencedetail"><input type="checkbox" name="experiencedetail" value="outros">Outros</label>
                    </div>
                </div>
                <label class="flex light-text radio-label" for="experience"><input type="radio" name="experience" value="roteiro personalizado">Roteiro personalizado - Precisa de uma ajudinha e um roteiro mais completo?</label>
                <label class="flex light-text radio-label" for="experience"><input type="radio" name="experience" value="experiência completa">Experiência completa - Deseja uma viagem com toda a consultoria e serviço premium?</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="experiencedetail2" class="dark-text">Caso tenha escolhido roteiro personalizado ou experiência completa, nos conte mais um pouco.</label>
            <textarea name="experiencedetail2" cols="30" rows="2">{% if form %} {{ form.experiencedetail2 }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="preferences" class="dark-text">Alguma preferência de rede hoteleira ou companhia aérea?</label>
            <textarea name="preferences" cols="30" rows="2">{% if form %} {{ form.preferences }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="animals" class="dark-text">Viaja com animais?</label>
            <div class="flex wrap">
                <label class="flex light-text radio-label" for="animals"><input checked type="radio" name="animals" value="não">Não</label>
                <label class="flex light-text radio-label" for="animals"><input type="radio" name="animals" value="sim">Sim</label>
            </div>
        </div>
        <div class="flex-column start full-w">
            <label for="special" class="dark-text">Nessecidades especiais? Nos conte mais.</label>
            <label for="special" class="light-text">Auxílio no aeroporto, quartos especiais e etc.</label>
            <textarea name="special" cols="30" rows="2">{% if form %} {{ form.special }} {% endif %}</textarea>
        </div>
        <div class="flex-column start full-w">
            <label for="food" class="dark-text">Você tem alguma restrição de alimentação?</label>
            <label for="food" class="light-text">Teremos o cuidado de adicionar opções que atendam sua necessidade.</label>
            <textarea name="food" cols="30" rows="2">{% if form %} {{ form.food }} {% endif %}</textarea>
        </div>
        <button class="button">Enviar</button>
        {% if form.errors %}
            {% for error, value in form.errors.items %}
                <span style="color:red;" class="light-text margin-b"><span style="text-transform:capitalize;">{{ error }}</span>: {{ value.as_text }}</span><br>
            {% endfor %}
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <span class="dark-label margin-b">{{ message }}</span>
            {% endfor %}
        {% endif %}
    </form>
</div>