.service-page-top
    margin-top 100px
    height 400px
    position relative
    background-size cover
    
.service-page-title
    padding 0 1.5rem

.service-page-content
    padding 2rem 1.5rem
    >*
        margin-bottom 1rem
.faq-container
    padding 1.5rem
    .dark-label
        margin-bottom 1rem
        text-transform none
    .light-text
        margin-bottom 2rem

.faq-cta
    padding-top 3rem
    padding-bottom 3rem

@media(min-width 768px)
    .service-page-content
        padding 2rem 2rem
            
