.service-page-top
    margin-top 100px
    background-position center center
    height 300px
    position relative
    
.service-page-title
    padding 0 1.5rem

.service-page-content
    padding 2rem 1.5rem
    width 100%

@media(min-width 768px)
    .service-page-title
        padding 0 8rem

    .service-page-content
        padding 2rem 2rem
        &:first-child
            width 40%
        &:last-child
            width 60%
            
