.service-title
    height: 490px
    position: relative
    background-image: url('/static/img/services.jpg');
    background-position center center

    .title
        z-index: 100

.service-item_container
    flex-wrap: wrap
    padding: 5rem 0

.service-item
    text-align: center
    padding: 2rem
    width: 100%
    &:hover, &:active, &:focus
        img
            transform scale(1.2)

    img
        height 80px
        margin-bottom 20px
        width auto
        transition: all 300ms ease

@media(min-width: 768px)
    .service-item
        width: 33.333333%
